if(field.circle)
	span.admin-table__circle(class=field.circle=='green'?'admin-table__circle_green':'')

if(field.tag_green)
	.tag.tag_green= field.tag_green

if(field.tag_yellow)
	.tag= field.tag_yellow


if(field.file_name)
	.table-file-info
		span.table-file-info__name= field.file_name
		if(field.file_count)
			| &nbsp;|&nbsp;
			a.file-count(href="#")
				span.file-count__val= field.file_count
				+svg('ic-external-link','ic-external-link')

if(field.icon)
	span.admin-table__icon
		if(field.icon_color=='true')
			if(field.icon_hover=='true')
				span.ic-hover
					+svg(field.icon,field.icon)
			else
				+svg(field.icon,field.icon)
		else if(field.icon_status=='inactive')
			+svg(field.icon,field.icon+' ic-light-grey')
		else
			+svg(field.icon,field.icon+' ic-grey')

		if(field.tooltip_icon)
			span.tooltip(class=field.tooltip_status?'active':'')
				span.tooltip__content= field.tooltip_icon

		if(field.popup=='cat-list-warning')
			.info-popup.info-popup_right(style="width: 295px;", class=field.popup_status=='active'?'active':'')
				form.form-site
					.info-popup__top
						.info-popup__head-wrap
							span.info-popup__head Structure Mismatch

						.info-popup__close
							+svg('ic-close-circle','ic-close-circle')

					.info-popup__content
						.info-popup__text-wrap
							.info-popup__text
								p The categorization structure was manually changed and no longer match the previous one.  
								p After the issue is fixed by the ETL owner, turn off the toggle below to restart the auto-update.

						.info-popup-switch
							.info-popup-switch__content
								.info-popup-switch__text-wrap
									.info-popup-switch__title Hold Automatic loading

							.switch
								input(type="checkbox", id="switch1"+index, checked="checked")
								label.switch__content(for="switch1"+index)
									.switch__marker
									.switch__on On
									.switch__off Off

		if(field.popup=='cat-list-plug')
			.info-popup.info-popup_right(style="width: 268px;", class=field.popup_status=='active'?'active':'')
				.info-popup__top
					.info-popup__head-wrap
						span.info-popup__head Used in

					.info-popup__close
						+svg('ic-close-circle','ic-close-circle')

				.info-popup__content
					.info-popup__text-wrap
						.info-popup__title Events:
						.info-popup__text Diagnosis, Admission Diagnosis, Procedures, Customised events
									


	if(field.title)
		span.admin-table__icon-label= field.title
			if(field.tooltip)
				span.tooltip(class=field.tooltip_status?'active':'')
					span.tooltip__content= field.tooltip
else
	if(field.link=='true')
		a(href="#")
			= field.title
	else
		= field.title