mixin h1(v)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							h1= v

mixin breadcrumbs(links)
	- var len=links.length
	.container-fluid.d-none.d-md-block
		.row
			.col-12
				ul.breadcrumb
					- var i=0
					while i < len-1
						li.breadcrumb__item
							a(href=links[i].href).breadcrumb__link=links[i].name
						- i++
					li.breadcrumb__item
						span=links[i].name

mixin tabsPage(tabs)
	.tabs-page
		each item, index in tabs
			if item.popup_date
				span.tabs-page__item(class=item.active?'active':'')
					span(class=item.name_sort?'d-none d-md-inline':'')= item.name
					if item.name_sort
						span.d-md-none= item.name_sort
					
					if item.popup_date
						+svg('ic-select-arr-down','ic-select-arr-down')
						.tabs-popup-wrap(class=item.popup_show?'active':'')
							.tabs-popup
								form.form-site
									.tabs-popup__head Select report data ragne
									.tabs-popup__content
										.select-date
											.select-date__item
												.select-date__main
													.select-date__title From:
													.select-date__field
														input(type="text", value="12/25/2019")
														.select-date__label mm/dd/yyyy
													.select-date__icon
														+svg('ic-calendar','ic-calendar')

											.select-date__item
												.select-date__main
													.select-date__title To:
													.select-date__field
														input(type="text", value="12/25/2019")
														.select-date__label mm/dd/yyyy

													.select-date__icon
														+svg('ic-calendar','ic-calendar')


								.tabs-popup__btn
									a(href="#").btn.btn_border.btn_small Cancel
									input.btn.btn_small(type="submit", value="Apply")

			else
				a.tabs-page__item(href=item.link, class=item.active?'active':'', class=item.class?item.class:'')
					span(class=item.name_sort?'d-none d-md-inline':'')
						if(item.more)
							|More: 
						= item.name
					if item.name_sort
						span.d-md-none= item.name_sort

					if(item.popup_list)
						+svg('ic-select-arr-down','ic-select-arr-down')

						.tabs-popup-more-wrap
							.tabs-popup-more
								.tabs-popup-more__list
									each popup in item.popup_list
										.tabs-popup-more__item(class=popup.class?popup.class:'')= popup.name
			




mixin formSearch(classes,placeholder)
	form.form-search(class=classes?classes:'')
		input(type="text", placeholder=placeholder?placeholder:"Search…")
		button(type="submit")
			+svg('ic-search','ic-search')
		span.form-search__close
			+svg('ic-close-small','ic-close-small')

mixin adminTableFilter(status)
	.admin-table-filter
		.admin-table-filter__icon
			span.ic-hover
				if(status=='active')
					+svg('ic-filter','ic-filter')
				else
					+svg('ic-filter','ic-filter ic-stroke')

		.admin-table-filter__popup(class=status?'active':'')
			form
				.admin-table-filter__top
					.input-check
						input#paramAll(type='checkbox', name='paramAll')
						label.input-check__label(for='paramAll')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Select All

					a(href="#").admin-table-filter__clear Clear

				.admin-table-filter__params
					.input-check
						input#param1(type='checkbox', name='param1')
						label.input-check__label(for='param1')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text R Test Project

					.input-check
						input#param2(type='checkbox', name='param2', checked="checked")
						label.input-check__label(for='param2')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Demo Project

					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Another Project

					.input-check
						input#param4(type='checkbox', name='param4')
						label.input-check__label(for='param4')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Another Project with long name

				.admin-table-filter__btn
					a(href="#").btn.btn_border.btn_small Cancel
					input.btn.btn_small(type="submit", value="Apply")

mixin mappingTableFilter(status)
	.admin-table-filter
		.admin-table-filter__icon
			span.ic-hover
				if(status=='active')
					+svg('ic-filter','ic-filter')
				else
					+svg('ic-filter','ic-filter ic-stroke')

		.admin-table-filter__popup(class=status?'active':'')
			form
				.admin-table-filter__top
					.input-check
						input#paramAll(type='checkbox', name='paramAll')
						label.input-check__label(for='paramAll')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Select All

					a(href="#").admin-table-filter__clear Clear

				.admin-table-filter__params
					.input-check
						input#param1(type='checkbox', name='param1')
						label.input-check__label(for='param1')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text # - Numeric

					.input-check
						input#param2(type='checkbox', name='param2', checked="checked")
						label.input-check__label(for='param2')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text A - String

					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text D - Date


				.admin-table-filter__btn
					a(href="#").btn.btn_border.btn_small Cancel
					input.btn.btn_small(type="submit", value="Apply")

mixin adminTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row(class=row.row.selected?'active':'')
				if(row.name)
					td.admin-table__item
						if(row.name.details=='true')
							.admin-table__more
								a(href="#").admin-table__more-link Details
									+svg('ic-next-to-page','ic-next-to-page')

								if(row.name.link=='true')
									a(href="#").admin-table__name= row.name.title
								else
									.admin-table__name= row.name.title

										if(row.name.tooltip)
											span.tooltip(class=row.name.tooltip_status?'active':'')
												span.tooltip__content= row.name.title
						else
							if(row.name.link=='true')
								a(href="#").admin-table__name= row.name.title
							else
								.admin-table__name= row.name.title

									if(row.name.tooltip)
										span.tooltip(class=row.name.tooltip_status?'active':'')
											span.tooltip__content= row.name.title

				each field in row.fields
					td.admin-table__item(class=field.class?field.class:'', class=field.color=='blue'?'admin-table__item_blue':'')
						if(field.details=='true')
							.admin-table__more
								a(href="#").admin-table__more-link Details
									+svg('ic-next-to-page','ic-next-to-page')
								include ../components/mixin-table-row
						else
							include ../components/mixin-table-row

				if(row.menu)
					td.admin-table__item.admin-table__item_menu
						.admin-table__content
							if row.menu
								if row.menu.notice
									.admin-table__notice.d-none.d-md-inline-block
										+svg(row.menu.notice,row.menu.notice)

								.admin-table-action
									span.admin-table-action__menu.ic-hover
										+svg('ic-dot-menu','ic-dot-menu')

										.admin-table-popup(class=row.menu.popup?'active':'')
											.admin-table-popup__top
												if(row.menu.icons)
													each icon in row.menu.icons
														a.admin-table-popup__item(href="#",class=icon.disable?'disable':'')
															.admin-table-popup__icon
																+svg(icon.img,icon.img)
															.admin-table-popup__text !{icon.text}

											.admin-table-popup__bottom
												if(row.menu.icons_bottom)
													each icon in row.menu.icons_bottom
														a(href="#", class=icon.disable?'disable':'').admin-table-popup__item
															.admin-table-popup__icon
																+svg(icon.img,icon.img)
															.admin-table-popup__text= icon.text
												else
													a(href="#").admin-table-popup__item
														.admin-table-popup__icon
															+svg('ic-delete','ic-delete')
														.admin-table-popup__text Delete

mixin mappingTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row
				td.admin-table__item.d-none.d-md-table-cell
					.input-check
						input(type='checkbox', name='param'+index+'1', id='param'+index+'1')
						label.input-check__label(for='param'+index+'1')
							span.input-check__mark
								+svg('ic-check','ic-check')

				td.admin-table__item
					.admin-table__name-edit
						input(type="text", value=row.name)

				td.admin-table__item.admin-table__item_center.d-none.d-md-table-cell
					.switch-icon
						.switch-icon__item(class=(row.data_active=='1')?'active':(row.data_inactive=='1')?'disable':'')
							+svg('ic-numeric','ic-numeric')

						.switch-icon__item(class=(row.data_active=='2')?'active':(row.data_inactive=='2' || row.data_inactive=='2,3')?'disable':'')
							+svg('ic-textual','ic-textual')

						.switch-icon__item(class=(row.data_active=='3')?'active':(row.data_inactive=='3' || row.data_inactive=='2,3')?'disable':'')
							+svg('ic-calendar','ic-calendar')

				td.admin-table__item.d-none.d-md-table-cell
					if(row.hierarchy)
						.select.select_small
							.select__head Select Hierarchy...
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param Departments
								.select__param Diagnosis
								.select__param Drugs
								.select__param Fractures
								.select__param Hospitals
								.select__param Medications
								.select__param MRI and CT Codes
								.select__param Ranks for Nurses
								.select__param Units

				td.admin-table__item.admin-table__item_center.d-none.d-md-table-cell
					if(row.progress)
						.progress(class=(row.progress=='25')?'progress_red':(row.progress=='50')?'progress_yellow':(row.progress=='75')?'progress_green':'')
							.progress__bg(style='width: '+row.progress+'%')
							.progress__text= row.progress+'%'

				td.admin-table__item.d-none.d-lg-table-cell
					.admin-table__data-sample= row.data
						if(row.tooltip)
							span.tooltip(class=row.tooltip_status?'active':'')
								span.tooltip__content= row.data

mixin modalWindow(error, status)
	.modal-window
		.modal-window__head New imported file
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		.new-file-modal-form
			form.form-site
				.form-site__fields
					.form-site__item(class=error?'form-site__item_error':'')
						.form-site__label Choose File

						.file-upload
							label.file-upload__content
								input(type='file', name='file')
								span.file-upload__btn Choose File
								span.file-upload__name.disable Select a CSV or Excel file
						
						
						if (error)
							.form-site-alert
								.form-site-alert__icon
									+svg('ic-failure','ic-failure')
								span.form-site-alert__text File format needs to be CSV (comma separate values)

					.form-site__item
						label(for="name").form-site__label Name

						input(type="text", placeholder="Type file name")

					.form-site__item
						label(for="project").form-site__label Environment

						#project.select(class=status!='active'?'select_up':'')
							.select__head Select Environment…
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param.active Demo project
								.select__param Mimic
								.select__param Project 1
								.select__param Project 2
								.select__param Project with very long name

					.form-site__item
						label.form-site__label Make this a shared file
		
						.form-site__shared
							if (status=='active')
								span.form-site__shared-notice
									+svg('ic-shared','ic-shared')
									span.form-site__shared-text File is shared now. It can be viewed and used by everyone.
							else
								span.form-site__shared-notice
									span.form-site__shared-text When file is shared everyone can see and use it.

							.switch
								if (status=='active')
									input(type="checkbox", id="switch1", checked="checked")
								else
									input(type="checkbox", id="switch1")
								label.switch__content(for="switch1")
									.switch__marker
									.switch__on Yes
									.switch__off No

					if (status=='active')
						.form-site__item
							label(for="template").form-site__label
								|Permission Group
								span.form-site__info
									+svg('ic-help','ic-help')
									span.tooltip
										span.tooltip__content Tooltip

								span.form-site__optional Optional

							#template.select.select_up
								.select__head Select Permission Group...
									.select__head-arr
										+svg('ic-select-arr-down','ic-select-arr-down')
								.select__option
									.select__param.active Template 1
									.select__param Template 2
									.select__param Template with very long name
									.select__param Template 4

				.form-site__btn
					a(href="#").btn.btn_border Cancel
					input.btn(type="submit", value="Upload", class=status=='active'?'':'btn_disable')

mixin modalWindowQuery(error, status)
	.modal-window
		.modal-window__head Create Query
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					label(for="name").form-site__label Query Name

					input(type="text", placeholder="Type a unique query name")

					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text A query with this name already exists.  Please select a unique name.

				.form-site__item
					label(for="desc").form-site__label Query Description
						span.form-site__optional Optional

					textarea(id="desc", placeholder="Use this space to describe your query in free text")

				.form-site__item
					label(for="key").form-site__label Select Approval Key (IRB)
						span.form-site__optional Optional

					#key.select.select_up
						.select__head Select Key…
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active Demo key
							.select__param Mimic
							.select__param Key 1
							.select__param Key 2
							.select__param Key with very long name

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Create", class=status=='active'?'':'btn_disable')

mixin modalSendQuery(status)
	.modal-window
		.modal-window__head Send query
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					label(for="name").form-site__label Send to

					#name.select
						.select__head.active
							.select__search
								input(type="text", value=status=='active'?'El Hamayan':'', placeholder="Type the person's name...",)
								span.select__search-close
									+svg('ic-close-small','ic-close-small')
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param(class=status=='active'?'active':'') El Hamayan
							.select__param Mimic
							.select__param Key 1
							.select__param Key 2
							.select__param Key with very long name

			.form-site__notice
				+svg('ic-warning','ic-warning')
				span.form-site__notice-text Note! the recipient may not have the permissions to see all the query domains.

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Send", class=status=='active'?'':'btn_disable')

mixin modalShareQuery(status, result)
	.modal-window
		.modal-window__head Share query
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		form.form-site
			.share-form-sort
				.share-form-sort__label Share with

				.share-form-sort__content
					.select.share-form-sort__name
						.select__head(class=status=='active'?'active':'')
							.select__search
								input(type="text", value=status=='active'?'ja':'', placeholder="Type the person's name...",)
								span.select__search-close
									+svg('ic-close-small','ic-close-small')
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option(class=status=='active'?'active':'')
							if(status=='active')
								.select__param <span class="select__accent">Ja</span>ck Black
								.select__param <span class="select__accent">Ja</span>ck Nicholson
								.select__param Johnson <span class="select__accent">Ja</span>ck
								.select__param White <span class="select__accent">Ja</span>mes
							else
								.select__param Parameter 1
								.select__param Parameter 2
								.select__param Parameter 3
								.select__param Parameter 4
								.select__param Jack Black
								.select__param Jack Nicholson
								.select__param Johnson Jack
								.select__param White James

					.select.share-form-sort__type
						.select__head.active
							.select__icon-wrap
								+svg('ic-share-view','ic-share-view')
								span.select__head-text View
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active
								.select__icon-wrap
									+svg('ic-share-view','ic-share-view')
									|View
							.select__param
								.select__icon-wrap
									+svg('ic-edit','ic-edit')
									|Edit

					.btn.btn_small.btn_disable Add

			if(result=='empty')
				.share-form-empty
					.share-form-empty__text You can allow other users to view or edit your query.
					.share-form-empty__img
						img(src="/assets/img/share-form-empty.png", alt="", style="height: 198px;")

			else
				.share-form-data
					.share-form-data__label Already shared with:

					.share-form-data__content
						.share-form-data__list
							-
								var shareList = [
									{name:'Moshe Bateva', view:'active'},
									{name:'Bery Zakala', edit:'active'},
									{name:'El Hamaayan', edit:'active'},
									{name:'Moti Hiluchim', edit:'active'},
									{name:'Alon Noshem', view:'active'},
									{name:'Simcha Rif', view:'active'},
									{name:'Micha Fafli', view:'active'},
									{name:'Nagasta Bagamba', view:'active'},
									{name:'Moshe Bateva', view:'active'},
									{name:'Bery Zakala', edit:'active'},
									{name:'El Hamaayan', edit:'active'},
									{name:'Moti Hiluchim', edit:'active'},
									{name:'Alon Noshem', view:'active'},
								]
							
							each item in shareList
								.share-form-data__row
									.share-form-data__col.share-form-data__col-name= item.name
									.share-form-data__col.share-form-data__col-switch
										.switch-icon
											.switch-icon__item(class=item.view=='active'?'active':'')
												+svg('ic-share-view','ic-share-view')

											.switch-icon__item(class=item.edit=='active'?'active':'')
												+svg('ic-edit','ic-edit')

									.share-form-data__col.share-form-data__col-close
										+svg('ic-close-circle','ic-close-circle')

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Share", class=result=='empty'?'btn_disable':'')

mixin svg(icon, name_class)
	svg.icon(class=name_class?name_class:'')
		use(xlink:href='/assets/sprites/sprite.svg#'+icon)

mixin pager(title)
	.pager-wrap
		.pager-wrap__title= title

		.pager
			span.pager__arr.pager__arr_left
				+svg('ic-pager-arr-left','ic-pager-arr-left')

			span.pager__list
				span.pager__item.active 1
				span.pager__item
					a(href="#") 2
				span.pager__item
					a(href="#") 3
				span.pager__item.pager__item_dots ...
				span.pager__item
					a(href="#") 6
			a(href="#").pager__arr.pager__arr_right.active.ic-hover
				+svg('ic-pager-arr-right','ic-pager-arr-right')

mixin infoPanel(share, popup)
	section.info-panel-wrap
		.container-fluid
			.row
				.col-12
					.info-panel
						.info-panel__item
							.info-panel__title Environment:
							.info-panel__val Sheba Central

						.info-panel__item
							.info-panel__val
								.info-panel__shared(class=popup=='show'?'active':'') Shared
									+svg('ic-shared','ic-shared')

									.info-popup
										form.form-site
											.info-popup__top
												.info-popup__head-wrap
													span.info-popup__head File Sharing

												.info-popup__close
													+svg('ic-close-circle','ic-close-circle')

											.info-popup__content
												.info-popup-switch
													if(share=='active')
														.info-popup-switch__content
															.info-popup-switch__icon
																+svg('ic-shared','ic-shared')

															.info-popup-switch__text-wrap
																.info-popup-switch__title File is shared.
																.info-popup-switch__text It can be viewed and used by everyone.

														.switch
															input(type="checkbox", id="switch10", checked="checked")
															label.switch__content(for="switch10")
																.switch__marker
																.switch__on Yes
																.switch__off No
													else
														.info-popup-switch__content
															.info-popup-switch__text-wrap
																.info-popup-switch__title File is not shared.
																.info-popup-switch__text When a file is shared everyone can see and use it.

														.switch
															input(type="checkbox", id="switch10")
															label.switch__content(for="switch10")
																.switch__marker
																.switch__on Yes
																.switch__off No

											.info-popup__btn
												a(href="#").btn.btn_border.btn_small Cancel
												input(type="submit", value="Apply").btn.btn_small


						.info-panel__item
							.info-panel__title Template:
							.info-panel__val
								.select.select_small
									.select__head Please Select...
										.select__head-arr
											+svg('ic-select-arr-down','ic-select-arr-down')
									.select__option
										.select__param Template 1
										.select__param Template 2
										.select__param Template 3
										.select__param Template 4

						.info-panel__item
							.info-panel__title Modified:
							.info-panel__val Jul 9, 2019

						.info-panel__item.info-panel__item_no-indent
							.info-panel__title Columns:
							.info-panel__val 34

						.info-panel__item
							.info-panel__title Rows:
							.info-panel__val 12,456


mixin mappingHead(popup, legend)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							.page-header__back(class=popup?'active':'')
								span.ic-hover
									+svg('ic-back-to-page','ic-back-to-page')
								
								span.tooltip.tooltip_top
									span.tooltip__content Back to Imported Files

							h1 File Mapping

							.page-header__text(contenteditable="true") CKD Patients with cost, diabetes and medications

						.notice(class=legend?'active':'')
							.notice__icon
								+svg('ic-bulb','ic-bulb')

							.notice-popup
								.notice-popup__text Define which fields to import, their data type, and relevant available hierarchies.
									span.notice-popup__more Show more

								.notice-popup__content
									.notice-popup__head Legend

									.notice-popup-info
										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress
														.progress__bg
														.progress__text 0%

												.notice-popup-info__text 0% Match

											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress.progress_red
														.progress__bg(style='width: 25%')
														.progress__text 25%

												.notice-popup-info__text 1%-49% Match

											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress.progress_yellow
														.progress__bg(style='width: 50%')
														.progress__text 50%

												.notice-popup-info__text 50-74% Match

											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress.progress_green
														.progress__bg(style='width: 75%')
														.progress__text 75%

												.notice-popup-info__text 75-100% Match

										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-numeric','ic-numeric')

												.notice-popup-info__text Numeric

											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-textual','ic-textual')

												.notice-popup-info__text String

											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-calendar','ic-calendar')

												.notice-popup-info__text Date

								.notice-popup__footer
									.notice-popup-link
										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text View tutorials
											+svg('ic-view-tutorials','ic-view-tutorials')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Additional help
											+svg('ic-add-help','ic-add-help')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Live help
											+svg('ic-live-help','ic-live-help')

mixin catListHead(legend,notice)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							h1 Categorization list

						.notice(class=(legend=='legend')?'active':'')
							.notice__icon
								+svg('ic-bulb','ic-bulb')

							.notice-popup
								.notice-popup__text Add, maintain and update categorization used in events, imported files and patient stories.

								.notice-popup__content
									.notice-popup__head Legend

									.notice-popup-info
										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-warning','ic-warning')

												.notice-popup-info__text Warning: Mismatch

											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-robot','ic-robot ic-grey')

												.notice-popup-info__text Automatic Loaded Categorization

										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-plug','ic-plug ic-grey')

												.notice-popup-info__text In Use

								.notice-popup__footer
									.notice-popup-link
										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text View tutorials
											+svg('ic-view-tutorials','ic-view-tutorials')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Additional help
											+svg('ic-add-help','ic-add-help')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Live help
											+svg('ic-live-help','ic-live-help')

					if(notice=='active')
						.notice-load
							.notice-load__top
								.notice-load__head Loading categorization
								.notice-load__close
									span.ic-hover
										+svg('ic-close','ic-close')

							.notice-load__content
								.load-doc
									.load-doc__content
										.load-doc__file
											.load-doc__icon
												+svg('ic-csv','ic-csv')

											.load-doc__text 20191225_134440_Medication Hierarchy 2.csv

										.load-doc__link
											a(href="#") Abort

									.load-doc__progress
										.load-doc__progress-line(style='width:25%;')

mixin modalWindowCatReplace(error)
	.modal-window
		.modal-window__head Replace categorization
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		.modal-window__text Environment: Sheba Central

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					.form-site__label Choose File

					.file-upload
						label.file-upload__content
							input(type='file', name='file')
							span.file-upload__btn Choose File
							span.file-upload__name.disable Select a CSV or Excel file as the categorization source
					
					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text File format needs to be .CSV (Comma Separated Values)

				.form-site__item
					label(for="name").form-site__label Name

					input(type="text", placeholder="Type categorization name")

				.form-site__item
					label(for="desc").form-site__label Description
						span.form-site__optional Optional

					textarea(id="desc", placeholder="Type description that will help you understand more about this hierarchy")

				.form-site__item
					label(for="key").form-site__label 
						|Default Category
						span.form-site__icon
							+svg('ic-help','ic-help')

					#key.select.select_up
						.select__head Select default category...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Hierarchy 2
							.select__param ATC1
							.select__param Hierarchy 1
							.select__param Hierarchy with a very long name

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn.btn_disable(type="submit", value="Upload")


mixin mapCatTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row
				td.admin-table__item
					.admin-table__name-edit
						input(type="text", value=row.name)

				td.admin-table__item.d-none.d-md-table-cell
					.select-wrap(class=row.select_error?'error':'')
						.select.select_small.select_full
							.select__head= row.name
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param Original medicine name
								.select__param Generic name
								.select__param Mapped ATC code(s)
								.select__param New Hierarchy name
								.select__param Manufacturer
								.select__param Anatomical main group (ATC1)
								.select__param Therapeutic main group (ATC2)
								.select__param Pharmacological subgroup (ATC3)
								.select__param Another Hierarchy
								.select__param Another Hierarchy 2

						if(row.select_error)
							span.tooltip.tooltip_left.tooltip_red
								span.tooltip__content= row.select_error

				td.admin-table__item.d-none.d-lg-table-cell
					.admin-table__data-sample= row.data
						if(row.tooltip)
							span.tooltip(class=row.tooltip_status?'active':'')
								span.tooltip__content= row.data

mixin editCatTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row
				td.admin-table__item
					.admin-table__name-edit
						input(type="text", value=row.name)

				td.admin-table__item.d-none.d-md-table-cell
					.admin-table__data-sample= row.data
						if(row.tooltip)
							span.tooltip(class=row.tooltip_status?'active':'')
								span.tooltip__content= row.data

mixin addTableInfo(icon, error, popup)
	.add-info-table
		span.add-info-table__text
			a(href="#") Add user notification
			span.add-info-table__notice-icon
				+svg(icon,icon)

				.info-popup.info-popup_bottom(class=popup?'active':'')
					form.form-site
						.info-popup__top
							.info-popup__head-wrap
								span.info-popup__head Categorization change notification message
									+svg('ic-help','ic-help')

							.info-popup__close
								+svg('ic-close-circle','ic-close-circle')

						.info-popup__content
							.info-popup__fields
								textarea Note! the categorization used in this query was changed.

						.info-popup__btn
							a(href="#").info-popup__btn-link Cancel

							span
								a(href="#").btn.btn_border.btn_small Delete
								input(type="submit", value="Apply").btn.btn_small

		span.add-info-table__opt Optional

		
		span.add-info-table__error
			+svg('ic-failure','ic-failure')
			|The following old categories will not be available for the user anymore: 
			span.add-info-table__error-accent Type of route,  Anatomical main group (ATC1)
			span.add-info-table__more
				a(href="#") 3 More

				.info-popup.info-popup_right.info-popup_bottom(style="width: 276px;", class=error?'active':'')
					form.form-site
						.info-popup__top
							.info-popup__head-wrap
								span.info-popup__head Missing old categories

							.info-popup__close
								+svg('ic-close-circle','ic-close-circle')

						.info-popup__content
							|- Type of route<br>
							|- Pharmacological subgroup ATC3<br>
							|- Manufacturer 

mixin editTableHead(popup)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							.page-header__back
								span.ic-hover
									+svg('ic-back-to-page','ic-back-to-page')

							h1 Edit categories

							.page-header__text(contenteditable="true") Diagonisis definition (non admission)
								.info-popup(class=popup?'active':'')
									form.form-site
										.info-popup__top
											.info-popup__head-wrap
												span.info-popup__head Categories Description
												span.info-popup__option Optional

											.info-popup__close
												+svg('ic-close-circle','ic-close-circle')

										.info-popup__content
											.info-popup__fields
												textarea(placeholder="Type a description that will help you understand more about this categorization")

										.info-popup__btn
											a(href="#").btn.btn_border.btn_small Cancel
											input(type="submit", value="Apply").btn.btn_small

							a(href="#") Description

						.notice(class=legend?'active':'')
							.notice__icon
								+svg('ic-bulb','ic-bulb')

mixin graph(graphInfo)
	.graph
		.graph__top
			.graph__head= graphInfo.head
				if(graphInfo.popup_text)
					span.tooltip.tooltip_left(graphInfo.popup_status=active?'active':'')
						span.tooltip__content= graphInfo.popup_text

				if(graphInfo.legend)
					span.graph__legend Legend

						.info-popup
							.info-popup__top
								.info-popup__head-wrap
									span.info-popup__head Users Shown in Chart

								.info-popup__close
									+svg('ic-close-circle','ic-close-circle')

							.info-popup__content
								.graph-term
									.graph-term__item
										.graph-term__icon
											+svg('ic-nancy','ic-nancy')
										.graph-term__text Nancy Beck

									.graph-term__item
										.graph-term__icon
											+svg('ic-lillie','ic-lillie')
										.graph-term__text Lillie Shaw

									.graph-term__item
										.graph-term__icon
											+svg('ic-christian','ic-christian')
										.graph-term__text Christian Sharp

									.graph-term__item
										.graph-term__icon
											+svg('ic-gabriel','ic-gabriel')
										.graph-term__text Gabriel Barton

									.graph-term__item
										.graph-term__icon
											+svg('ic-craig','ic-craig')
										.graph-term__text Craig Wolfe

		.graph__content

mixin header(data)
	header.header
		.container-fluid
			.row
				.col-12
					.header__content
						.header__info
							.hamburger
								+svg('ic-hamburger','ic-hamburger')

							.header__company.d-none.d-md-block
								+svg('ic-flower','ic-flower')
								span.header__company-name Buttercup Hospital Institute

						.header__action
							.select
								.select__head Sheba Central
									.select__head-arr
										+svg('ic-select-arr-down','ic-select-arr-down')
								.select__option
									.select__param Text 1
									.select__param Text 2
									.select__param Text 3
									.select__param Text 4
		
							.header-notice(class=data.status=='open'?'active':'')
								if(data.status=='open')
									+svg('notice-active','notice')
								else
									+svg('notice','notice')

								.header-notice__popup(class=data.notice=='true'?'active':'')
									if(data.notice_empty=='true')
										.header-notice__top
											.header-notice__head Notifications

										.header-notice-empty
											.header-notice-empty__title No new notifications.
											.header-notice-empty__text Notifications of your activity will show up here.
											.header-notice-empty__img
												img(src="/assets/img/notice-empty.png", alt="", style="height: 170px;")

									else
										.header-notice__top
											.header-notice__head Notifications
											a(href="#").header-notice__link Dismiss All

										.header-notice__content
											-
												var list=[
													{icon:'ic-categorization', header:'Categorization', status_icon:'ic-running', status:'Uploading', text:'The new categorization - “Categorization very long name” is uploading.', link:'Hide progress', date:'Mar 19, 2020 08:00', open:'true'},
													{icon:'ic-patient-story', header:'Patient Story', status_icon:'ic-running', status:'Generating', text:'The population event ‘list of patients with pre-diabetes conditions’ is uploading.', link:'Show progress', date:'Mar 19, 2020 08:45'},
													{icon:'ic-imported-file', header:'Imported File', status_circle:'red', status:'Failed', text:'The file “imported file name” upload aborted.', date:'Mar 19, 2020 09:45'},
													{icon:'ic-quality', header:'Quality of Care', status_circle:'green', status:'Completed', text:'The Quality of Care file generated succesfully and is ready for download', link:'Download File', date:'Mar 19, 2020 10:45'},
													{icon:'ic-patient-story', header:'Patient Story', status_circle:'green', status:'Completed', text:'The Quality of Care file generated succesfully and is ready for download', link:'Show progress', date:'Mar 19, 2020 10:45'},
												];

											each item in list
												.header-notice-item
													.header-notice-item__top
														.header-notice-head
															.header-notice-head__icon
																+svg(item.icon,item.icon+' '+item.stroke_icon)
															.header-notice-head__text= item.header

														.header-notice-status
															.header-notice-status__content
																if(item.status_icon)
																	+svg(item.status_icon,item.status_icon)
																else if(item.status_circle=='green')
																	.header-notice-status__circle
																else if(item.status_circle=='red')
																	.header-notice-status__circle.header-notice-status__circle_red
																span.header-notice-item__status-text= item.status
															.header-notice-status__close
																+svg('ic-close-circle','ic-close-circle')

													.header-notice-item__text= item.text

													.header-notice-item__bottom
														.header-notice-item__link= item.link
														.header-notice-item__date= item.date
													
													.header-notice-item__progress(class=item.open?'open':'')
														.load-doc.load-doc_green
															.load-doc__content
																.load-doc__file
																	.load-doc__icon
																		+svg('ic-csv','ic-csv')

																	.load-doc__text 20191225_134440_Medication Hierarchy 2.csv

																.load-doc__link
																	a(href="#") Abort

															.load-doc__progress
																.load-doc__progress-line(style='width:25%;')

							.header__profile
								.header__profile-icon

								.profile-popup(class=data.status=='open'?'active':'')
									.profile-popup__list
										a(href="#").profile-popup__item
											.profile-popup__icon
												+svg('ic-setting','ic-setting')

											.profile-popup__text Account settings

										a(href="#").profile-popup__item
											.profile-popup__icon
												+svg('ic-logout','ic-logout')

											.profile-popup__text Logout

		
		include ../components/sidebar

//- mixin headerNoticePopup(empty)
//- 	.header-notice__popup
	//- 	if(empty == 'true')
	//- 		.header-notice__top
	//- 			.header-notice__head Notifications
	//- 			a(href="#").header-notice__link Dismiss All


mixin usageDashboardPanel(param)
	section.info-panel-wrap
		.container-fluid
			.row
				.col-12
					.info-panel
						.info-panel__content
							.info-panel-choose
								if(param.environment)
									.info-panel-choose__item
										.info-panel-choose__title Environment:
										.info-panel-choose__val
											.select.select_small
												.select__head Please Select...
													.select__head-arr
														+svg('ic-select-arr-down','ic-select-arr-down')
												.select__option
													.select__param Health Institute external
													.select__param Health Institute 2
													.select__param Health Institute 3
													.select__param Health Institute 4

								if(param.years)
									.info-panel-choose__item
										.info-panel-choose__title Years:
										.info-panel-choose__val
											.select.select_small
												.select__head Please Select...
													.select__head-arr
														+svg('ic-select-arr-down','ic-select-arr-down')
												.select__option
													.select__param YTD (Year To Date)
													.select__param YTD (Year To Date) 2
													.select__param YTD (Year To Date) 3
													.select__param YTD (Year To Date) 4

								if(param.users)
									.info-panel-choose__item
										.info-panel-choose__title Users:
										.info-panel-choose__val
											.select.select_small
												.select__head Please Select...
													.select__head-arr
														+svg('ic-select-arr-down','ic-select-arr-down')
												.select-filter
													.select-filter__content
														form
															.select-filter__top
																.input-check
																	input#paramAll(type='checkbox', name='paramAll')
																	label.input-check__label(for='paramAll')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Top 5 users

																a(href="#").select-filter__clear Clear

															.form-search
																input(type="text", placeholder="Search a user")
																button(type="submit")
																	+svg('ic-search','ic-search')
																span.form-search__close
																	+svg('ic-close-small','ic-close-small')

															.select-filter__params
																.input-check
																	input#param1(type='checkbox', name='param1', checked="checked")
																	label.input-check__label(for='param1')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Ron Paul (26)

																.input-check
																	input#param2(type='checkbox', name='param2', checked="checked")
																	label.input-check__label(for='param2')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Floyd Stephens (20)

																.input-check
																	input#param3(type='checkbox', name='param3', checked="checked")
																	label.input-check__label(for='param3')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Lillie Shaw (10)

																.input-check
																	input#param4(type='checkbox', name='param4', checked="checked")
																	label.input-check__label(for='param4')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Christian Sharp

																.input-check
																	input#param5(type='checkbox', name='param5')
																	label.input-check__label(for='param5')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Gabriel Barton

																.input-check
																	input#param6(type='checkbox', name='param6', checked="checked")
																	label.input-check__label(for='param6')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Craig Wolfe

																.input-check
																	input#param7(type='checkbox', name='param7')
																	label.input-check__label(for='param7')
																		span.input-check__mark
																			+svg('ic-check','ic-check')
																		span.input-check__text Nacny Beck

															.select-filter__btn
																a(href="#").btn.btn_border.btn_small Cancel
																input.btn.btn_small(type="submit", value="Apply")

							.info-panel__switch
								.info-panel__switch-label Include Admin Users
							
								.switch
									if(param.switch)
										input(type="checkbox", id="switch1", checked="checked")
									else
										input(type="checkbox", id="switch1")
									label.switch__content(for="switch1")
										.switch__marker
										.switch__on Yes
										.switch__off No

mixin selectFilter(count, search)
	.select.select_small
		if(count=='count')
			.select__head.active 4 users selected
				.select__head-arr
					+svg('ic-select-arr-down','ic-select-arr-down')
		else
			.select__head Please Select...
				.select__head-arr
					+svg('ic-select-arr-down','ic-select-arr-down')
		.select-filter
			.select-filter__content
				form
					.select-filter__top
						.input-check
							input#paramAll(type='checkbox', name='paramAll')
							label.input-check__label(for='paramAll')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Top 5 users

						a(href="#").select-filter__clear Clear

					.form-search
						input(type="text", placeholder=search=='search'?"Chr":"Search a user")
						button(type="submit")
							+svg('ic-search','ic-search')
						span.form-search__close
							+svg('ic-close-small','ic-close-small')

					.select-filter__params
						.input-check
							if(count=='count')
								input#param1(type='checkbox', name='param1', checked="checked")
							else
								input#param1(type='checkbox', name='param1')
							label.input-check__label(for='param1')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Ron Paul (26)

						.input-check
							input#param2(type='checkbox', name='param2')
							label.input-check__label(for='param2')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Floyd Stephens (20)

						.input-check
							input#param3(type='checkbox', name='param3')
							label.input-check__label(for='param3')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Lillie Shaw (10)

						.input-check
							if(count=='count')
								input#param4(type='checkbox', name='param4', checked="checked")
							else
								input#param4(type='checkbox', name='param4')
							label.input-check__label(for='param4')
								span.input-check__mark
									+svg('ic-check','ic-check')
								if(search=='search')
									span.input-check__text <span class="input-check__accent">Chr</span>istian Sharp
								else
									span.input-check__text Christian Sharp

						.input-check
							if(count=='count')
								input#param5(type='checkbox', name='param5', checked="checked")
							else
								input#param5(type='checkbox', name='param5')
							label.input-check__label(for='param5')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Gabriel Barton

						.input-check
							if(count=='count')
								input#param6(type='checkbox', name='param6', checked="checked")
							else
								input#param6(type='checkbox', name='param6')
							label.input-check__label(for='param6')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Craig Wolfe

						.input-check
							input#param7(type='checkbox', name='param7')
							label.input-check__label(for='param7')
								span.input-check__mark
									+svg('ic-check','ic-check')
								span.input-check__text Nacny Beck

					.select-filter__btn
						a(href="#").btn.btn_border.btn_small Cancel
						input.btn.btn_small(type="submit", value="Apply")

