mixin h1(v)
	.container
		.row
			.col-12
				h1= v


mixin breadcrumbs(links)
	- var len=links.length
	.container.d-none.d-md-block
		.row
			.col-12
				ul.breadcrumb
					- var i=0
					while i < len-1
						li.breadcrumb__item
							a(href=links[i].href).breadcrumb__link=links[i].name
						- i++
					li.breadcrumb__item
						span=links[i].name

mixin tabsPage(tabs)
	.tabs-page
		each item, index in tabs
			a.tabs-page__item(href=item.link)(class=index==0?'active':'')= item.name

mixin formSearch(type)
	form.form-search(class=type=='white'?'form-search_white':'')
		input(type="text", placeholder="Search…")
		input(type="submit")

mixin adminTableFilter(status)
	.admin-table-filter
		.admin-table-filter__icon(class=status?'active':'')

		.admin-table-filter__popup(class=status?'active':'')
			form
				.admin-table-filter__top
					.input-check
						input#paramAll(type='checkbox', name='paramAll')
						label.input-check__label(for='paramAll')
							span.input-check__mark
							span.input-check__text Select All

					a(href="#").admin-table-filter__clear Clear

				.admin-table-filter__params
					.input-check
						input#param1(type='checkbox', name='param1')
						label.input-check__label(for='param1')
							span.input-check__mark
							span.input-check__text R Test Project

					.input-check
						input#param2(type='checkbox', name='param2', checked="checked")
						label.input-check__label(for='param2')
							span.input-check__mark
							span.input-check__text Demo Project

					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
							span.input-check__text Another Project

					.input-check
						input#param4(type='checkbox', name='param4')
						label.input-check__label(for='param4')
							span.input-check__mark
							span.input-check__text Another Project with long name

				.admin-table-filter__btn
					a(href="#").btn.btn_border.btn_small Cancel
					input.btn.btn_small(type="submit", value="Apply")

mixin adminTableRow(rows)
	each item in rows
		.admin-table__row
			.admin-table__item
				.admin-table__name= item.name
					if(item.tooltip)
						span.tooltip(class=item.tooltip_status?'active':'')= item.name
			.admin-table__item= item.loaded
			.admin-table__item= item.project
			.admin-table__item= item.template
			.admin-table__item= item.user
			.admin-table__item
				if item.shared
					img(src="assets/icon/ic-shared.svg", alt="")

			.admin-table__item= item.columns
			.admin-table__item= item.rows
			.admin-table__item.admin-table__item_menu
				if item.notice
					.admin-table__notice
						.ic-hover
							img(src="assets/icon/ic-business-warning.svg", alt="")

				.admin-table-action
					span.admin-table-action__menu.ic-hover

					.admin-table-popup(class=item.popup?'active':'')
						.admin-table-popup__top
							a(href="#").admin-table-popup__item
								.admin-table-popup__icon(style="background-image: url(assets/icon/ic-edit.svg)")
								.admin-table-popup__icon-disable(style="background-image: url(assets/icon/ic-edit-grey.svg)")
								.admin-table-popup__text Edit File Settings

							a(href="#").admin-table-popup__item.disable
								.admin-table-popup__icon(style="background-image: url(assets/icon/ic-view.svg)")
								.admin-table-popup__icon-disable(style="background-image: url(assets/icon/ic-view-grey.svg)")
								.admin-table-popup__text View Output Summary

						.admin-table-popup__bottom
							a(href="#").admin-table-popup__item
								.admin-table-popup__icon(style="background-image: url(assets/icon/ic-remove.svg)")
								.admin-table-popup__icon-disable(style="background-image: url(assets/icon/ic-remove-grey.svg)")
								.admin-table-popup__text Delete

mixin modalWindow(error, status)
	.modal-window
		.modal-window__head Upload file
		.modal-window__close

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					label(for="file").form-site__label Choose File

					.file-upload
						input.js-input-file(type='file', name='file')
							//- span.file-upload__name.js-name-file Выбрать файлы
					
					.form-site-alert
						img(src="assets/icon/ic-failure.svg", alt="").form-site-alert__icon
						span.form-site-alert__text File format needs to be CSV (comma separate values)

				.form-site__item
					label(for="name").form-site__label Name

					input(type="text", placeholder="Type file name")

				.form-site__item
					label(for="project").form-site__label Project

					#project.select
						.select__head Select Project…
						.select__option
							.select__param Demo project
							.select__param.active Mimic
							.select__param Project 1
							.select__param Project 2
							.select__param Project with very long name

				.form-site__item
					label(for="template").form-site__label
						|Template
						span.form-site__info.ic-hover

					#template.select
						.select__head Select Template...
						.select__option
							.select__param Template 1
							.select__param Template 2
							.select__param.active Template with very long name
							.select__param Template 4

				.form-site__shared
					span Is it a shared file?

					.switch(class=status=='active'?'active':'')
						.switch__marker
						.switch__on Yes
						.switch__off No

					if (status=='active')
						span.form-site__shared-notice
							img(src="assets/icon/ic-shared.svg", alt="")
							|The file is now shared with everyone

				.form-site__btn
					a(href="#").btn.btn_border Cancel
					input(type="submit", value="Load file").btn(class=status=='active'?'':'btn_disable')