mixin h1(v)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							h1= v

mixin breadcrumbs(links)
	- var len=links.length
	.container-fluid.d-none.d-md-block
		.row
			.col-12
				ul.breadcrumb
					- var i=0
					while i < len-1
						li.breadcrumb__item
							a(href=links[i].href).breadcrumb__link=links[i].name
						- i++
					li.breadcrumb__item
						span=links[i].name

mixin tabsPage(tabs)
	.tabs-page
		each item, index in tabs
			if item.popup_date
				span.tabs-page__item(class=item.active?'active':'')
					span(class=item.name_sort?'d-none d-md-inline':'')= item.name
					if item.name_sort
						span.d-md-none= item.name_sort
					
					if item.popup_date
						+svg('ic-select-arr-down','ic-select-arr-down')
						.tabs-popup(class=item.popup_show?'active':'')
							form.form-site
								.tabs-popup__head Select report data ragne
								.tabs-popup__content
									.select-date
										.select-date__item
											.select-date__main
												.select-date__title From:
												.select-date__field
													input(type="text", value="12/25/2019")
													.select-date__label mm/dd/yyyy
												.select-date__icon
													+svg('ic-calendar','ic-calendar')

										.select-date__item
											.select-date__main
												.select-date__title To:
												.select-date__field
													input(type="text", value="12/25/2019")
													.select-date__label mm/dd/yyyy

												.select-date__icon
													+svg('ic-calendar','ic-calendar')


								.tabs-popup__btn
									a(href="#").btn.btn_border.btn_small Cancel
									input.btn.btn_small(type="submit", value="Apply")
			else
				a.tabs-page__item(href=item.link, class=item.active?'active':'')
					span(class=item.name_sort?'d-none d-md-inline':'')= item.name
					if item.name_sort
						span.d-md-none= item.name_sort
			




mixin formSearch(classes,placeholder)
	form.form-search(class=classes?classes:'')
		input(type="text", placeholder=placeholder?placeholder:"Search…")
		button(type="submit")
			+svg('ic-search','ic-search')
		span.form-search__close
			+svg('ic-close-small','ic-close-small')

mixin adminTableFilter(status)
	.admin-table-filter
		.admin-table-filter__icon
			span.ic-hover
				if(status=='active')
					+svg('ic-filter','ic-filter')
				else
					+svg('ic-filter','ic-filter ic-stroke')

		.admin-table-filter__popup(class=status?'active':'')
			form
				.admin-table-filter__top
					.input-check
						input#paramAll(type='checkbox', name='paramAll')
						label.input-check__label(for='paramAll')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Select All

					a(href="#").admin-table-filter__clear Clear

				.admin-table-filter__params
					.input-check
						input#param1(type='checkbox', name='param1')
						label.input-check__label(for='param1')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text R Test Project

					.input-check
						input#param2(type='checkbox', name='param2', checked="checked")
						label.input-check__label(for='param2')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Demo Project

					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Another Project

					.input-check
						input#param4(type='checkbox', name='param4')
						label.input-check__label(for='param4')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Another Project with long name

				.admin-table-filter__btn
					a(href="#").btn.btn_border.btn_small Cancel
					input.btn.btn_small(type="submit", value="Apply")

mixin mappingTableFilter(status)
	.admin-table-filter
		.admin-table-filter__icon
			span.ic-hover
				if(status=='active')
					+svg('ic-filter','ic-filter')
				else
					+svg('ic-filter','ic-filter ic-stroke')

		.admin-table-filter__popup(class=status?'active':'')
			form
				.admin-table-filter__top
					.input-check
						input#paramAll(type='checkbox', name='paramAll')
						label.input-check__label(for='paramAll')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Select All

					a(href="#").admin-table-filter__clear Clear

				.admin-table-filter__params
					.input-check
						input#param1(type='checkbox', name='param1')
						label.input-check__label(for='param1')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text # - Numeric

					.input-check
						input#param2(type='checkbox', name='param2', checked="checked")
						label.input-check__label(for='param2')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text A - String

					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text D - Date


				.admin-table-filter__btn
					a(href="#").btn.btn_border.btn_small Cancel
					input.btn.btn_small(type="submit", value="Apply")

mixin adminTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row(class=row.row.selected?'active':'')
				if(row.name)
					td.admin-table__item
							if(row.name.link=='true')
								a(href="#").admin-table__name= row.name.title
							else
								.admin-table__name= row.name.title

								if(row.name.tooltip)
									span.tooltip(class=row.name.tooltip_status?'active':'')
										span.tooltip__content= row.name.title

				each field in row.fields
					td.admin-table__item(class=field.class?field.class:'', class=field.color=='blue'?'admin-table__item_blue':'')
							if(field.circle=='purple')
								span.admin-table__circle


							if(field.file_name)
								.table-file-info
									span.table-file-info__name= field.file_name
									if(field.file_count)
										| &nbsp;|&nbsp;
										a.file-count(href="#")
											span.file-count__val= field.file_count
											+svg('ic-external-link','ic-external-link')

							if(field.icon)
								span.admin-table__icon
									if(field.icon_color=='true')
										if(field.icon_hover=='true')
											span.ic-hover
												+svg(field.icon,field.icon)
										else
											+svg(field.icon,field.icon)
									else if(field.icon_status=='inactive')
										+svg(field.icon,field.icon+' ic-light-grey')
									else
										+svg(field.icon,field.icon+' ic-grey')

									if(field.tooltip_icon)
										span.tooltip(class=field.tooltip_status?'active':'')
											span.tooltip__content= field.tooltip_icon

									if(field.popup=='cat-list-warning')
										.info-popup.info-popup_right(style="width: 295px;", class=field.popup_status=='active'?'active':'')
											form.form-site
												.info-popup__top
													.info-popup__head-wrap
														span.info-popup__head Structure Mismatch

													.info-popup__close
														+svg('ic-close-circle','ic-close-circle')

												.info-popup__content
													.info-popup__text-wrap
														.info-popup__text
															p The categorization structure was manually changed and no longer match the previous one.  
															p After the issue is fixed by the ETL owner, turn off the toggle below to restart the auto-update.

													.info-popup-switch
														.info-popup-switch__content
															.info-popup-switch__text-wrap
																.info-popup-switch__title Hold Automatic loading

														.switch
															input(type="checkbox", id="switch1"+index, checked="checked")
															label.switch__content(for="switch1"+index)
																.switch__marker
																.switch__on On
																.switch__off Off

									if(field.popup=='cat-list-plug')
										.info-popup.info-popup_right(style="width: 268px;", class=field.popup_status=='active'?'active':'')
											.info-popup__top
												.info-popup__head-wrap
													span.info-popup__head Used in

												.info-popup__close
													+svg('ic-close-circle','ic-close-circle')

											.info-popup__content
												.info-popup__text-wrap
													.info-popup__title Events:
													.info-popup__text Diagnosis, Admission Diagnosis, Procedures, Customised events
																


								if(field.title)
									span.admin-table__icon-label= field.title
										if(field.tooltip)
											span.tooltip(class=field.tooltip_status?'active':'')
												span.tooltip__content= field.tooltip
							else
								if(field.link=='true')
									a(href="#")
										= field.title
								else
									= field.title

				if(row.menu)
					td.admin-table__item.admin-table__item_menu
						.admin-table__content
							if row.menu
								if row.menu.notice
									.admin-table__notice.d-none.d-md-inline-block
										+svg(row.menu.notice,row.menu.notice)

								.admin-table-action
									span.admin-table-action__menu.ic-hover
										+svg('ic-dot-menu','ic-dot-menu')

										.admin-table-popup(class=row.menu.popup?'active':'')
											.admin-table-popup__top
												if(row.menu.icons)
													each icon in row.menu.icons
														a.admin-table-popup__item(href="#",class=icon.disable?'disable':'')
															.admin-table-popup__icon
																+svg(icon.img,icon.img)
															.admin-table-popup__text !{icon.text}

											.admin-table-popup__bottom
												if(row.menu.icons_bottom)
													each icon in row.menu.icons_bottom
														a(href="#", class=icon.disable?'disable':'').admin-table-popup__item
															.admin-table-popup__icon
																+svg(icon.img,icon.img)
															.admin-table-popup__text= icon.text
												else
													a(href="#").admin-table-popup__item
														.admin-table-popup__icon
															+svg('ic-delete','ic-delete')
														.admin-table-popup__text Delete

mixin mappingTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row
				td.admin-table__item.d-none.d-md-table-cell
					.input-check
						input(type='checkbox', name='param'+index+'1', id='param'+index+'1')
						label.input-check__label(for='param'+index+'1')
							span.input-check__mark
								+svg('ic-check','ic-check')

				td.admin-table__item
					.admin-table__name-edit
						input(type="text", value=row.name)

				td.admin-table__item.d-none.d-md-table-cell
					.switch-icon
						.switch-icon__item(class=(row.data_active=='1')?'active':(row.data_inactive=='1')?'disable':'')
							+svg('ic-numeric','ic-numeric')

						.switch-icon__item(class=(row.data_active=='2')?'active':(row.data_inactive=='2' || row.data_inactive=='2,3')?'disable':'')
							+svg('ic-textual','ic-textual')

						.switch-icon__item(class=(row.data_active=='3')?'active':(row.data_inactive=='3' || row.data_inactive=='2,3')?'disable':'')
							+svg('ic-calendar','ic-calendar')

				td.admin-table__item.d-none.d-md-table-cell
					if(row.hierarchy)
						.select.select_small
							.select__head Select Hierarchy...
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param Departments
								.select__param Diagnosis
								.select__param Drugs
								.select__param Fractures
								.select__param Hospitals
								.select__param Medications
								.select__param MRI and CT Codes
								.select__param Ranks for Nurses
								.select__param Units

				td.admin-table__item.d-none.d-md-table-cell
					if(row.progress)
						.progress(class=(row.progress=='25')?'progress_red':(row.progress=='50')?'progress_yellow':(row.progress=='75')?'progress_green':'')
							.progress__bg(style='width: '+row.progress+'%')
							.progress__text= row.progress+'%'

				td.admin-table__item.d-none.d-lg-table-cell
					.admin-table__data-sample= row.data
						if(row.tooltip)
							span.tooltip(class=row.tooltip_status?'active':'')
								span.tooltip__content= row.data

mixin modalWindow(error, status)
	.modal-window
		.modal-window__head New imported file
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					.form-site__label Choose File

					.file-upload
						label.file-upload__content
							input(type='file', name='file')
							span.file-upload__btn Choose File
							span.file-upload__name.disable Select a CSV or Excel file
					
					
					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text File format needs to be CSV (comma separate values)

				.form-site__item
					label(for="name").form-site__label Name

					input(type="text", placeholder="Type file name")

				.form-site__item
					label(for="project").form-site__label Environment

					#project.select(class=status!='active'?'select_up':'')
						.select__head Select Environment…
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active Demo project
							.select__param Mimic
							.select__param Project 1
							.select__param Project 2
							.select__param Project with very long name

				.form-site__item
					label.form-site__label Make this a shared file
	
					.form-site__shared
						if (status=='active')
							span.form-site__shared-notice
								+svg('ic-shared','ic-shared')
								span.form-site__shared-text File is shared now. It can be viewed and used by everyone.
						else
							span.form-site__shared-notice
								span.form-site__shared-text When file is shared everyone can see and use it.

						.switch
							if (status=='active')
								input(type="checkbox", id="switch1", checked="checked")
							else
								input(type="checkbox", id="switch1")
							label.switch__content(for="switch1")
								.switch__marker
								.switch__on Yes
								.switch__off No

				if (status=='active')
					.form-site__item
						label(for="template").form-site__label
							|Permission Group
							span.form-site__info
								+svg('ic-help','ic-help')
								span.tooltip
									span.tooltip__content Tooltip

							span.form-site__optional Optional

						#template.select.select_up
							.select__head Select Permission Group...
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param.active Template 1
								.select__param Template 2
								.select__param Template with very long name
								.select__param Template 4

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Upload", class=status=='active'?'':'btn_disable')

mixin modalWindowQuery(error, status)
	.modal-window
		.modal-window__head Create Query
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					label(for="name").form-site__label Query Name

					input(type="text", placeholder="Type a unique query name")

					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text A query with this name already exists.  Please select a unique name.

				.form-site__item
					label(for="desc").form-site__label Query Description
						span.form-site__optional Optional

					textarea(id="desc", placeholder="Use this space to describe your query in free text")

				.form-site__item
					label(for="key").form-site__label Select Approval Key (IRB)
						span.form-site__optional Optional

					#key.select.select_up
						.select__head Select Key…
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active Demo key
							.select__param Mimic
							.select__param Key 1
							.select__param Key 2
							.select__param Key with very long name

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Create", class=status=='active'?'':'btn_disable')

mixin svg(icon, name_class)
	svg.icon(class=name_class?name_class:'')
		use(xlink:href='/assets/sprites/sprite.svg#'+icon)

mixin pager(title)
	.pager-wrap
		.pager-wrap__title= title

		.pager
			span.pager__arr.pager__arr_left
				+svg('ic-pager-arr-left','ic-pager-arr-left')

			span.pager__list
				span.pager__item.active 1
				span.pager__item
					a(href="#") 2
				span.pager__item
					a(href="#") 3
				span.pager__item.pager__item_dots ...
				span.pager__item
					a(href="#") 6
			a(href="#").pager__arr.pager__arr_right.active.ic-hover
				+svg('ic-pager-arr-right','ic-pager-arr-right')

mixin infoPanel(share, popup)
	section.info-panel-wrap
		.container-fluid
			.row
				.col-12
					.info-panel
						.info-panel__item
							.info-panel__title Environment:
							.info-panel__val Sheba Central

						.info-panel__item
							.info-panel__val
								.info-panel__shared(class=popup=='show'?'active':'') Shared
									+svg('ic-shared','ic-shared')

									.info-popup
										form.form-site
											.info-popup__top
												.info-popup__head-wrap
													span.info-popup__head File Sharing

												.info-popup__close
													+svg('ic-close-circle','ic-close-circle')

											.info-popup__content
												.info-popup-switch
													if(share=='active')
														.info-popup-switch__content
															.info-popup-switch__icon
																+svg('ic-shared','ic-shared')

															.info-popup-switch__text-wrap
																.info-popup-switch__title File is shared.
																.info-popup-switch__text It can be viewed and used by everyone.

														.switch
															input(type="checkbox", id="switch10", checked="checked")
															label.switch__content(for="switch10")
																.switch__marker
																.switch__on Yes
																.switch__off No
													else
														.info-popup-switch__content
															.info-popup-switch__text-wrap
																.info-popup-switch__title File is not shared.
																.info-popup-switch__text When a file is shared everyone can see and use it.

														.switch
															input(type="checkbox", id="switch10")
															label.switch__content(for="switch10")
																.switch__marker
																.switch__on Yes
																.switch__off No

											.info-popup__btn
												a(href="#").btn.btn_border.btn_small Cancel
												input(type="submit", value="Apply").btn.btn_small


						.info-panel__item
							.info-panel__title Template:
							.info-panel__val
								.select.select_small
									.select__head Please Select...
										.select__head-arr
											+svg('ic-select-arr-down','ic-select-arr-down')
									.select__option
										.select__param Template 1
										.select__param Template 2
										.select__param Template 3
										.select__param Template 4

						.info-panel__item
							.info-panel__title Modified:
							.info-panel__val Jul 9, 2019

						.info-panel__item.info-panel__item_no-indent
							.info-panel__title Columns:
							.info-panel__val 34

						.info-panel__item
							.info-panel__title Rows:
							.info-panel__val 12,456


mixin mappingHead(popup, legend)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							.page-header__back(class=popup?'active':'')
								span.ic-hover
									+svg('ic-back-to-page','ic-back-to-page')
								
								span.tooltip.tooltip_top
									span.tooltip__content Back to Imported Files

							h1 File Mapping

							.page-header__text
								input(type="text", value="CKD Patients with cost, diabetes and medications")

						.notice(class=legend?'active':'')
							.notice__icon
								+svg('ic-bulb','ic-bulb')

							.notice-popup
								.notice-popup__text Define which fields to import, their data type, and relevant available hierarchies.
									span.notice-popup__more Show more

								.notice-popup__content
									.notice-popup__head Legend

									.notice-popup-info
										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress
														.progress__bg
														.progress__text 0%

												.notice-popup-info__text 0% Match

											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress.progress_red
														.progress__bg(style='width: 25%')
														.progress__text 25%

												.notice-popup-info__text 1%-49% Match

											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress.progress_yellow
														.progress__bg(style='width: 50%')
														.progress__text 50%

												.notice-popup-info__text 50-74% Match

											.notice-popup-info__item
												.notice-popup-info__val.notice-popup-info__val_big
													.progress.progress_green
														.progress__bg(style='width: 75%')
														.progress__text 75%

												.notice-popup-info__text 75-100% Match

										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-numeric','ic-numeric')

												.notice-popup-info__text Numeric

											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-textual','ic-textual')

												.notice-popup-info__text String

											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-calendar','ic-calendar')

												.notice-popup-info__text Date

								.notice-popup__footer
									.notice-popup-link
										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text View tutorials
											+svg('ic-view-tutorials','ic-view-tutorials')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Additional help
											+svg('ic-add-help','ic-add-help')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Live help
											+svg('ic-live-help','ic-live-help')

mixin catListHead(legend,notice)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							h1 Categorization list

						.notice(class=(legend=='legend')?'active':'')
							.notice__icon
								+svg('ic-bulb','ic-bulb')

							.notice-popup
								.notice-popup__text Add, maintain and update categorization used in events, imported files and patient stories.

								.notice-popup__content
									.notice-popup__head Legend

									.notice-popup-info
										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-warning','ic-warning')

												.notice-popup-info__text Warning: Mismatch

											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-robot','ic-robot ic-grey')

												.notice-popup-info__text Automatic Loaded Categorization

										.notice-popup-info__col
											.notice-popup-info__item
												.notice-popup-info__val
													+svg('ic-plug','ic-plug ic-grey')

												.notice-popup-info__text In Use

								.notice-popup__footer
									.notice-popup-link
										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text View tutorials
											+svg('ic-view-tutorials','ic-view-tutorials')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Additional help
											+svg('ic-add-help','ic-add-help')

										a.notice-popup-link__item(href="#")
											span.notice-popup-link__text Live help
											+svg('ic-live-help','ic-live-help')

					if(notice=='active')
						.notice-load
							.notice-load__top
								.notice-load__head Loading categorization
								.notice-load__close
									span.ic-hover
										+svg('ic-close','ic-close')

							.notice-load__content
								.load-doc
									.load-doc__content
										.load-doc__file
											.load-doc__icon
												+svg('ic-csv','ic-csv')

											.load-doc__text 20191225_134440_Medication Hierarchy 2.csv

										.load-doc__link
											a(href="#") Abort

									.load-doc__progress
										.load-doc__progress-line(style='width:25%;')

mixin modalWindowCatReplace(error)
	.modal-window
		.modal-window__head Replace categorization
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close')

		.modal-window__text Environment: Sheba Central

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					.form-site__label Choose File

					.file-upload
						label.file-upload__content
							input(type='file', name='file')
							span.file-upload__btn Choose File
							span.file-upload__name.disable Select a CSV or Excel file as the categorization source
					
					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text File format needs to be .CSV (Comma Separated Values)

				.form-site__item
					label(for="name").form-site__label Name

					input(type="text", placeholder="Type categorization name")

				.form-site__item
					label(for="desc").form-site__label Description
						span.form-site__optional Optional

					textarea(id="desc", placeholder="Type description that will help you understand more about this hierarchy")

				.form-site__item
					label(for="key").form-site__label 
						|Default Category
						span.form-site__icon
							+svg('ic-help','ic-help')

					#key.select.select_up
						.select__head Select default category...
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param Hierarchy 2
							.select__param ATC1
							.select__param Hierarchy 1
							.select__param Hierarchy with a very long name

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn.btn_disable(type="submit", value="Upload")


mixin mapCatTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row
				td.admin-table__item
					.admin-table__name-edit
						input(type="text", value=row.name)

				td.admin-table__item.d-none.d-md-table-cell
					.select-wrap(class=row.select_error?'error':'')
						.select.select_small.select_full
							.select__head= row.name
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param Original medicine name
								.select__param Generic name
								.select__param Mapped ATC code(s)
								.select__param New Hierarchy name
								.select__param Manufacturer
								.select__param Anatomical main group (ATC1)
								.select__param Therapeutic main group (ATC2)
								.select__param Pharmacological subgroup (ATC3)
								.select__param Another Hierarchy
								.select__param Another Hierarchy 2

						if(row.select_error)
							span.tooltip.tooltip_left.tooltip_red
								span.tooltip__content= row.select_error

				td.admin-table__item.d-none.d-lg-table-cell
					.admin-table__data-sample= row.data
						if(row.tooltip)
							span.tooltip(class=row.tooltip_status?'active':'')
								span.tooltip__content= row.data

mixin editCatTableRow(rows)
	tbody
		each row, index in rows
			tr.admin-table__row
				td.admin-table__item
					.admin-table__name-edit
						input(type="text", value=row.name)

				td.admin-table__item.d-none.d-md-table-cell
					.admin-table__data-sample= row.data
						if(row.tooltip)
							span.tooltip(class=row.tooltip_status?'active':'')
								span.tooltip__content= row.data

mixin addTableInfo(icon, error, popup)
	.add-info-table
		span.add-info-table__text
			a(href="#") Add user notification
			span.add-info-table__notice-icon
				+svg(icon,icon)

				.info-popup.info-popup_bottom(class=popup?'active':'')
					form.form-site
						.info-popup__top
							.info-popup__head-wrap
								span.info-popup__head Categorization change notification message
									+svg('ic-help','ic-help')

							.info-popup__close
								+svg('ic-close-circle','ic-close-circle')

						.info-popup__content
							.info-popup__fields
								textarea Note! the categorization used in this query was changed.

						.info-popup__btn
							a(href="#").info-popup__btn-link Cancel

							span
								a(href="#").btn.btn_border.btn_small Delete
								input(type="submit", value="Apply").btn.btn_small

		span.add-info-table__opt Optional

		
		span.add-info-table__error
			+svg('ic-failure','ic-failure')
			|The following old categories will not be available for the user anymore: 
			span.add-info-table__error-accent Type of route,  Anatomical main group (ATC1)
			span.add-info-table__more
				a(href="#") 3 More

				.info-popup.info-popup_right.info-popup_bottom(style="width: 276px;", class=error?'active':'')
					form.form-site
						.info-popup__top
							.info-popup__head-wrap
								span.info-popup__head Missing old categories

							.info-popup__close
								+svg('ic-close-circle','ic-close-circle')

						.info-popup__content
							|- Type of route<br>
							|- Pharmacological subgroup ATC3<br>
							|- Manufacturer 

mixin editTableHead(popup)
	section.page-header
		.container-fluid
			.row
				.col-12
					.page-header__wrap
						.page-header__content
							.page-header__back
								span.ic-hover
									+svg('ic-back-to-page','ic-back-to-page')

							h1 Edit categories

							.page-header__text
								input(type="text", value="Diagonisis definition (non admission)")

								a(href="#") Description

								.info-popup(class=popup?'active':'')
									form.form-site
										.info-popup__top
											.info-popup__head-wrap
												span.info-popup__head Categories Description
												span.info-popup__option Optional

											.info-popup__close
												+svg('ic-close-circle','ic-close-circle')

										.info-popup__content
											.info-popup__fields
												textarea(placeholder="Type a description that will help you understand more about this categorization")

										.info-popup__btn
											a(href="#").btn.btn_border.btn_small Cancel
											input(type="submit", value="Apply").btn.btn_small

						.notice(class=legend?'active':'')
							.notice__icon
								+svg('ic-bulb','ic-bulb')