mixin h1(v)
	.container-fluid
		.row
			.col-12
				h1= v


mixin breadcrumbs(links)
	- var len=links.length
	.container-fluid.d-none.d-md-block
		.row
			.col-12
				ul.breadcrumb
					- var i=0
					while i < len-1
						li.breadcrumb__item
							a(href=links[i].href).breadcrumb__link=links[i].name
						- i++
					li.breadcrumb__item
						span=links[i].name

mixin tabsPage(tabs)
	.tabs-page
		each item, index in tabs
			a.tabs-page__item(href=item.link, class=index==0?'active':'')
				span(class=item.name_sort?'d-none d-md-inline':'')= item.name
				if item.name_sort
					span.d-md-none= item.name_sort


mixin formSearch(classes,placeholder)
	form.form-search(class=classes?classes:'')
		input(type="text", placeholder=placeholder?placeholder:"Search…")
		button(type="submit")
			+svg('ic-search','ic-search')
		span.form-search__close
			+svg('ic-close-small','ic-close-small ic-stroke')

mixin adminTableFilter(status)
	.admin-table-filter
		.admin-table-filter__icon
			span.ic-hover
				if(status=='active')
					+svg('ic-filter','ic-filter')
				else
					+svg('ic-filter','ic-filter ic-stroke')

		.admin-table-filter__popup(class=status?'active':'')
			form
				.admin-table-filter__top
					.input-check
						input#paramAll(type='checkbox', name='paramAll')
						label.input-check__label(for='paramAll')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Select All

					a(href="#").admin-table-filter__clear Clear

				.admin-table-filter__params
					.input-check
						input#param1(type='checkbox', name='param1')
						label.input-check__label(for='param1')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text R Test Project

					.input-check
						input#param2(type='checkbox', name='param2', checked="checked")
						label.input-check__label(for='param2')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Demo Project

					.input-check
						input#param3(type='checkbox', name='param3')
						label.input-check__label(for='param3')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Another Project

					.input-check
						input#param4(type='checkbox', name='param4')
						label.input-check__label(for='param4')
							span.input-check__mark
								+svg('ic-check','ic-check')
							span.input-check__text Another Project with long name

				.admin-table-filter__btn
					a(href="#").btn.btn_border.btn_small Cancel
					input.btn.btn_small(type="submit", value="Apply")

mixin adminTableRow(rows)
	each row in rows
		.admin-table__row(class=row.row.selected?'active':'')
			.admin-table__item
				.admin-table__name= row.name.title
					if(row.name.tooltip)
						span.tooltip(class=row.name.tooltip_status?'active':'')= row.name.title

			each field in row.fields
				.admin-table__item(class=field.class?field.class:'')
					if(field.icon)
						if(field.icon_color=='true')
							span.admin-table__icon
								+svg(field.icon,field.icon)
								if(field.tooltip_icon)
									span.tooltip(class=field.tooltip_status?'active':'')= field.tooltip_icon
						else
							span.admin-table__icon
								+svg(field.icon,field.icon+' ic-grey')
								if(field.tooltip_icon)
									span.tooltip(class=field.tooltip_status?'active':'')= field.tooltip_icon

						if(field.title)
							span.admin-table__icon-label= field.title
								if(field.tooltip)
									span.tooltip(class=field.tooltip_status?'active':'')= field.tooltip
					else
						= field.title

			.admin-table__item.admin-table__item_menu
				if row.menu
					if row.menu.notice
						.admin-table__notice.d-none.d-md-inline-block
							+svg(row.menu.notice,row.menu.notice)

					.admin-table-action
						span.admin-table-action__menu.ic-hover
							+svg('ic-dot-menu','ic-dot-menu')

							.admin-table-popup(class=row.menu.popup?'active':'')
								.admin-table-popup__top
									if(row.menu.icons)
										each icon in row.menu.icons
											a.admin-table-popup__item(href="#",class=icon.disable?'disable':'')
												.admin-table-popup__icon
													+svg(icon.img,icon.img)
												.admin-table-popup__text !{icon.text}

								.admin-table-popup__bottom
									if(row.menu.icons_bottom)
										each icon in row.menu.icons_bottom
											a(href="#").admin-table-popup__item
												.admin-table-popup__icon
													+svg(icon.img,icon.img)
												.admin-table-popup__text= icon.text
									else
										a(href="#").admin-table-popup__item
											.admin-table-popup__icon
												+svg('ic-delete','ic-delete')
											.admin-table-popup__text Delete


								

mixin modalWindow(error, status)
	.modal-window
		.modal-window__head Upload file
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close ic-stroke')

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					.form-site__label Choose File

					.file-upload
						label.file-upload__content
							input(type='file', name='file')
							span.file-upload__btn Choose File
							span.file-upload__name No file chosen
					
					
					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text File format needs to be CSV (comma separate values)

				.form-site__item
					label(for="name").form-site__label Name

					input(type="text", placeholder="Type file name")

				.form-site__item
					label(for="project").form-site__label Project

					#project.select(class=status!='active'?'select_up':'')
						.select__head Select Project…
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active Demo project
							.select__param Mimic
							.select__param Project 1
							.select__param Project 2
							.select__param Project with very long name

				.form-site__item
					label.form-site__label Make this a shared file
	
					.form-site__shared
						if (status=='active')
							span.form-site__shared-notice
								+svg('ic-shared','ic-shared')
								span.form-site__shared-text File is shared now. It can be viewed and used by everyone.
						else
							span.form-site__shared-notice
								span.form-site__shared-text When file is shared everyone can see and use it.

						.switch
							if (status=='active')
								input(type="checkbox", id="switch1", checked="checked")
							else
								input(type="checkbox", id="switch1")
							label.switch__content(for="switch1")
								.switch__marker
								.switch__on Yes
								.switch__off No

				if (status=='active')
					.form-site__item
						label(for="template").form-site__label
							|Template
							span.form-site__info
								+svg('ic-help','ic-help')
								span.tooltip Tooltip

							span.form-site__optional Optional

						#template.select.select_up
							.select__head Select Template...
								.select__head-arr
									+svg('ic-select-arr-down','ic-select-arr-down')
							.select__option
								.select__param.active Template 1
								.select__param Template 2
								.select__param Template with very long name
								.select__param Template 4

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Load file", class=status=='active'?'':'btn_disable')

mixin modalWindowQuery(error, status)
	.modal-window
		.modal-window__head Create Query
		.modal-window__close.ic-hover
			+svg('ic-close','ic-close ic-stroke')

		form.form-site
			.form-site__fields
				.form-site__item(class=error?'form-site__item_error':'')
					label(for="name").form-site__label Query Name

					input(type="text", placeholder="Type a unique query name")

					if (error)
						.form-site-alert
							.form-site-alert__icon
								+svg('ic-failure','ic-failure')
							span.form-site-alert__text A query with this name already exists.  Please select a unique name.

				.form-site__item
					label(for="desc").form-site__label Query Description
						span.form-site__optional Optional

					textarea(id="desc", placeholder="Use this space to describe your query in free text")

				.form-site__item
					label(for="key").form-site__label Select Approval Key (IRB)
						span.form-site__optional Optional

					#key.select.select_up
						.select__head Select Key…
							.select__head-arr
								+svg('ic-select-arr-down','ic-select-arr-down')
						.select__option
							.select__param.active Demo key
							.select__param Mimic
							.select__param Key 1
							.select__param Key 2
							.select__param Key with very long name

			.form-site__btn
				a(href="#").btn.btn_border Cancel
				input.btn(type="submit", value="Create", class=status=='active'?'':'btn_disable')

mixin svg(icon, name_class)
	svg.icon(class=name_class?name_class:'')
		use(xlink:href='/assets/sprites/sprite.svg#'+icon)

mixin pager(title)
	.pager-wrap
		.pager-wrap__title= title

		.pager
			span.pager__arr.pager__arr_left
				+svg('ic-pager-arr-left','ic-pager-arr-left')

			span.pager__list
				span.pager__item.active 1
				span.pager__item
					a(href="#") 2
				span.pager__item
					a(href="#") 3
				span.pager__item.pager__item_dots ...
				span.pager__item
					a(href="#") 6
			a(href="#").pager__arr.pager__arr_right.active.ic-hover
				+svg('ic-pager-arr-right','ic-pager-arr-right')