include ../utils/mixins
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}
		//- link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap', rel='stylesheet')

	body(class=body_scroll=='false'?'no-scroll':'')
		.wrapper(class=header=='open'?'open-sidebar':'')
			.shadow-site(class=body_scroll=='false'?'is-visible':'')
			block modal

			- 
				var headerData={
					status:header,
					notice:header_notice,
					notice_empty:header_notice_empty
				}
			+header(headerData)
			//- main.main(class=mainIndent=='false'?'main_no-indent':'')
			main.main
				.content-page
					block breadcrumb
					if h1
						+h1(h1)
					block content
			if footer
				include ./footer
